{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}

    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('auth.static', filename='css/auth.css') }}"  media="screen"/>

    <style type="text/css">
        body{
			/* all: unset; */
			background-color: #F9FAFC!important;
			height: unset;
        }
    </style>
{% endblock %}



{% block content %}
{{ super() }}


<div class="center-block shadow p-3 mb-5 bg-white h-auto" style="width:400px;margin-top:50px">	

	{% if sent %}	
	<form class="px-4 py-3">
		
		<h4 class="modal-title w-100 font-weight-bold">Reset your password</h4>
		<div class="dropdown-divider"></div>
		
		<div class="form-group">
			<label for="email">Check your email for a link to reset your password. If it doesn’t appear within a few minutes, check your spam folder. 
			</label>
			<button type=submit id="submit" name="submit" class="btn btn-light">Return to sing in</button>
		</div>
	</form>
	<div id="flash">
	</div>
  {% else %}
		<form class="px-4 py-3" method="POST">
			
			<h4 class="modal-title w-100 font-weight-bold">Reset your password</h4>
			<div class="dropdown-divider"></div>
		
			<div class="form-group">
				<label for="email">Enter your user account's verified email address and we will send you a password reset link.
				</label>
				<input class="form-control" id="email" name="email" placeholder="email@example.com" required="" type="email" value="">
			</div>

			<button type=submit id="submit" name="submit" class="btn btn-success">Send Password</button>
	
		</form>
		<div id="flash">
		</div>
			
		
		<div class="dropdown-divider"></div>
		<a class="dropdown-item" href="{{ url_for('auth.signup') }}">New around here? Sign up</a>
	{% endif %}




  
</div>

{% include "components/notifications.html" %}

</div>
{% endblock content %}

{% block script %}
    {{ super() }}
    <script src="{{ url_for('auth.static', filename='js/script.js') }}"></script>
{% endblock %}